<div>
  <label for="">First Name</label>
  {{input value=firstName}}
</div>
<div>
  <label for="">Last Name</label>
  {{input value=lastName}}
</div>
<div>
  <label for="">Phone</label>
  {{input value=phone}}
</div>
<div>
  <label for="">Email</label>
  {{input value=email}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
