<div>
  <label>First Name
    {{input value=firstName class="client-first-name"}}
  </label>

</div>
<div>
  <label>Last Name
    {{input value=lastName class="client-last-name"}}
  </label>
</div>
<div>
  <label>Phone
    {{input value=phone class="client-phone"}}
  </label>
</div>
<div>
  <label>Email
    {{input value=email class="client-email"}}
  </label>
</div>

<button type="submit" {{action save}} class="create">Save</button>
<button type="submit" {{action cancel}} class="cancel">Cancel</button>
