<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group custom-search-form">
      {{input value=searchText class="form-control" placeholder="Busqueda..."}}
    </div>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <th></th>
          <th>Nombres</th>
          <th>Apellido</th>
          <th>Teléfono</th>
          <th>Email</th>
        </tr>
        {{#each filteredClients}}
          <tr class="client-row">
            <td>{{#link-to 'clients.show' this}}Cuenta{{/link-to}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{phone}}</td>
            <td>{{email}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
