<h3>{{id}}</h3>

<p>{{#link-to 'clients.edit' this}}Edit{{/link-to}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li class="client-first-name">First Name: {{firstName}}</li>
  <li class="client-last-name">Last Name: {{lastName}}</li>
  <li class="client-phone">Phone: {{phone}}</li>
  <li class="client-email">Email: {{email}}</li>
</ul>

{{render 'invoiceItems/index' invoiceItems}}
{{outlet invoiceItems}}
